:root {
  --task-color: #fae5df;
  --bg-color: #f3b0a4;
  --text-color: #141850;
}

body {
  margin: 0;
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#themes {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -70px;
  left: 35%;
}

#select-theme {
  background: var(--text-color);
  color: var(--bg-color);
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
}

.theme {
  cursor: pointer;
  padding: 10px 20px;
  background: var(--text-color);
  width: 100%;
  color: var(--bg-color);
  position: relative;
  left: -20px;
}

.active-theme {
  filter: brightness(1.3);
}

.theme:hover {
  filter: brightness(1.3);
}

.fa-angle-down,
.fa-angle-up {
  margin-left: 10px;
}

#options {
  display: none;
}

#task-input {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  color: var(--task-color);
  width: 50vw;
  font-size: 18px;
  padding: 10px 20px;
  background-color: var(--text-color);
  border: 1px solid #141850;
  border-radius: 25px;
}

input::placeholder {
  color: #f9f9f9;
  font-weight: 100;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px var(--task-color);
}

#add {
  margin-left: 15px;
  font-size: 18px;
  color: var(--text-color);
  border-radius: 50%;
  font-weight: bold;
  background-color: var(--task-color);
  border: 1px solid var(--task-color);
  width: 40px;
  height: 40px;
}

#add:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

#display-tasks {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.task {
  border: 1px solid #ed7966;
  background-color: var(--task-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 15px 30px;
  width: 60vw;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.4s, filter 0.25s;
}
.task:hover {
  transform: scale(1.02);
  cursor: pointer;
  filter: brightness(1.1);
}

.delete-task {
  float: right;
  width: auto;
}

.fa-trash-alt {
  color: var(--text-color);
  transition: transform 0.15s;
}

.fa-trash-alt:hover {
  cursor: pointer;
  transform: scale(1.2);
}
