body {
  margin: 0;
  background-image: url("images/peach.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#task-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  color: #fff;
  width: 600px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #141850;
  border: 1px solid #141850;
  border-radius: 25px;
}

input::placeholder {
  color: #fff;
  font-style: italic;
  font-weight: 100;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #ed7966;
}

#add {
  margin-left: 15px;
  font-size: 18px;
  color: #141850;
  border-radius: 50%;
  font-weight: bold;
  background-color: #ed7966;
  border: 1px solid #ed7966;
  width: 40px;
  height: 40px;
}

#add:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

#display-tasks {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.task {
  background-color: #ed7966;
  color: #141850;
  font-weight: bold;
  padding: 15px 30px;
  width: 700px;
  border-radius: 5px;
  margin-bottom: 10px;
}
